<p id="notice"><%= notice %></p>

<% if !params[:user_id] %>
    <h2>All Albums</h2>
<% else %>
    <h2><%= current_user.username %>'s Albums</h2>
<% end %> 

<% @albums.each do |album| %>
    <%= link_to album.title, album_path(album) %><br/>
<% end %>

<br>

<%= link_to 'New Album', new_album_path %>
